@import "~react-image-gallery/styles/css/image-gallery.css";

* {
    /* font-family: 'Fira Code', monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

a {
  text-decoration: none;
}

.dropdown {
  background: transparent;
}

.myMenuClassName {
  height: max-content;
  overflow-y: hidden;
}
.image-gallery-image-custom {
  background-color: #e6e6e6;
}